body {
    background-image:
        url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSne6FwxN-IRarVc1SIyHDrRBoNv3uJ-2hwLdAgEkkOVose6E4K");
}
h1{
font-family: verdana;
color:black;
}

 h2{
  font-family: verdana;
  color:black;
}

p{
 font-family: verdana;
    color:black;
}



