<head
link rel="stylesheet" href="/style.css"/>
</head>
body {
    background-image:
        url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRyboP1s78W5poL28jZ1zKh74082we4j_n52FzfzQZMmVHgUMx");
}
h1{
font-family: verdana;
color:black;
}

 h2{
  font-family: verdana;
  color:black;
}

p{
 font-family: verdana;
    color:black;
}



